@tailwind base;
@import './code-blocks.css';
@tailwind components;
@tailwind utilities;

/* Let's just import the whole gist.css from github: https://github.githubassets.com/assets/gist-embed-8454a1c20ec2.css */
@import '../lib/rehype-oembed/gist.css';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  @apply font-bold text-3xl md:text-5xl mb-1;
}

.editor-toolbar button.active,
.editor-toolbar button:hover {
  background: #47a3f3 !important;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.prose {
  @apply dark:text-white;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all text-zinc-400 hover:underline dark:hover:text-zinc-200;
}

.prose .anchor:after {
  @apply text-zinc-300 dark:text-zinc-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.minArea {
  min-width: 680px;
}

.container-wrapper {
  @apply flex justify-between gap-x-6;
}

.article-wrapper {
  @apply flex-auto max-w-4xl;
}
.container-wrapper nav.toc {
  @apply sticky top-6 hidden h-0 xl:!col-start-4 xl:row-start-2 xl:block order-last flex-auto;
}

html[lang='en-US'] .container-wrapper nav.toc::before {
  content: 'On This Page';
  @apply text-lg font-semibold text-center;
}

html[lang='pt-BR'] .container-wrapper nav.toc::before {
  content: 'Nessa Página';
  @apply text-lg font-semibold text-center;
}
